<% title 'Workshops' %>

<main>
    <div class="wrapper">
        <div class="row workshops">
            <% @workshops.each do |workshop| %>
                <div class="col">
                    <div class="workshop">
                        <%= image_tag workshop.image.url(:thumb) %>
                        <%= content_tag :a, href: workshop_path(workshop), class: 'infos'+(workshop.completed_by?(current_user) ? ' completed' : '') do %>
                            <span><%= workshop.score_for current_user %></span>
                        <% end %>
                        <h3 class="name"><%= workshop.name %></h3>
                        <% if current_user? is: :teacher %>
                            <div class="actions">
                                <%= link_to 'Modifier', edit_workshop_path(workshop), class: 'button dark' %>
                                <%= link_to 'Supprimer', destroy_workshop_path(workshop), class: 'button sensible' %>
                            </div>
                        <% end %>
                    </div>
                </div>
            <% end %>
        </div>

        <% if current_user? is: :teacher %>
            <div class="actions">
                <%= link_to 'Nouveau Workshop', new_workshop_path, class: 'button brand' %>
            </div>
        <% end %>
    </div>
</main>
