<%= form_for user, url: create_session_path do |f| %>
	<%= f.field :email, input: :email_field %>
	<%= f.field :password, input: :password_field %>

	<div class="actions">
		<%= link_to 'Inscription', new_user_path, class: 'button clear dark' %>
		<%= f.submit 'Connexion', class: 'button brand' %>
	</div>
<% end %>
