<%= form_for problem, url: action_is?(:new, :create) ? create_problem_path : update_problem_path(problem) do |f| %>
    <%= f.field :workshop_id, input: :number %>
    <%= f.field :solution %>
    <%= f.field :kind, input: :number %>

    <div class="actions">
        <%= f.submit %>
    </div>
<% end %>
