<%= form_for user, url: action_is?(:new, :create) ? create_user_path : (current_user?(is: :teacher) ? update_user_path(id: user.id) : update_user_path) do |f| %>
	<div class="row">
		<div class="col">
			<%= f.field :email, input: :email_field %>
			<%= f.field :password, input: :password_field %>
			<%= f.field :password_confirmation, input: :password_field %>
		</div>
		<div class="col">
    		<%= f.field :firstname, input: :text_field %>
    		<%= f.field :lastname, input: :text_field %>

				<% if current_user? is: :teacher %>
					<%= f.field :status, input: :select %>
				<% end %>
		</div>
	</div>
    <div class="actions">
		<% unless action_is?(:edit, :update) %>
			<%= link_to 'Connexion', new_session_path, class: 'button dark clear' %>
		<% end %>
        <%= f.submit action_is?(:new, :create) ? 'Inscription' : 'Update', class: 'button brand' %>
    </div>
<% end %>
