<% title 'Utilisateurs' %>

<main>
	<div class="wrapper">
		<h1>Liste des utilisateurs</h1>

		<table>


			<tbody>
				<% @users.each do |user| %>
					<tr>
						<td>
							<%= user.fullname %>
							<span class="status <%= user.status %>"><%= t :"activerecord.attributes.user.enum_status.#{user.status}" %></span>
						</td>

						<td class="actions">
							<%= link_to 'Editer', edit_user_path(id: user.id), class: 'button dark' %>
							<%= link_to 'Supprimer', destroy_user_path(id: user.id), class: 'button sensible' %>
						</td>
					</tr>
				<% end %>
			</tbody>
		</table>
	</div>
</main>
