<%= form_for answer, url: actions_is?(:new, :create) ? create_answer_path : update_answer_path(answer) do |f| %>
    <%= f.field :team_id, input: :number %>
    <%= f.field :problem_id, input: :number %>
    <%= f.field :content %>

    <div class="actions">
        <%= f.submit %>
    </div>
<% end %>
