<p id="notice"><%= notice %></p>

<p>
  <strong>Team:</strong>
  <%= @answer.team %>
</p>

<p>
  <strong>Problem:</strong>
  <%= @answer.problem %>
</p>

<p>
  <strong>Content:</strong>
  <%= @answer.content %>
</p>

<p>
  <strong>Right:</strong>
  <%= @answer.right %>
</p>

<%= link_to 'Edit', edit_answer_path(@answer) %> |
<%= link_to 'Back', answers_path %>
