<header>
	<div class="wrapper">
		<h2>
			<%= link_to 'Escape Work', root_path, class: 'logo small' %>
		</h2>
		<nav>
			<% if current_user? is: :teacher %>
				<%= link_to 'Utilisateurs', users_path, class: 'button clear' %>
			<% end %>
			<% if current_user? %>
				<%= link_to 'Workshops', workshops_path, class: 'button clear' %>
				<%= link_to 'Mes informations', edit_user_path, class: 'button clear' %>
				<%= link_to 'Déconnexion', destroy_session_path, class: 'button clear' %>
			<% else %>
				<%= link_to 'Connexion', new_session_path, class: 'button clear' %>
				<%= link_to 'Inscription', new_user_path, class: 'button' %>
			<% end %>
		</nav>
		<a class="nav">
			<span>Menu</span>
		</a>
	</div>
</header>
