<!DOCTYPE html>
<html>
    <head>
        <title><%= title base: 'Escape Work' %></title>
        <%= csrf_meta_tags %>
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

        <%= render 'application/favicon' %>

        <%= stylesheet %>
        <%= current_stylesheet %>
    </head>

    <body>
        <%= render 'flash' %>
        <% if has_header? %>
            <%= render 'header' %>
        <% end %>

        <%= yield %>

        <%= javascript %>
        <%= current_javascript %>
    </body>
</html>
