<!DOCTYPE html>
<html>
    <head>
        <title><%= title base: 'Application' %></title>
        <%= csrf_meta_tags %>
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

        <%= stylesheet %>
        <%= current_stylesheet %>
    </head>

    <body>
        <%= render 'flash' %>

        <%= yield %>

        <%= javascript %>
        <%= current_javascript %>
    </body>
</html>
